/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Page center */
body {
    height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

/* Main container */
.game-container {
    text-align: center;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* Title */
.title {
    margin-bottom: 20px;
    font-size: 32px;
    color: #333;
}

/* Board */
.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

/* Cells */
.cell {
    width: 100px;
    height: 100px;
    font-size: 36px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: #e6e6e6;
    border-radius: 8px;
    transition: background-color 0.2s, transform 0.1s;
}

.cell:hover {
    background-color: #d4d4d4;
    transform: scale(1.05);
}

.cell:active {
    transform: scale(0.95);
}

/* Reset Button */
#reset-btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#reset-btn:hover {
    background-color: #555;
}
#msg{
        margin-bottom: 20px;
    font-size: 62px;
    color: #333;
}
#new-btn{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}




/* Winner Message Container */
.msg-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;
    z-index: 100;
}

/* Hide class */
.hide {
    display: none;
}

/* Winner text */
#msg {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
}

/* New Game button */
#new-btn {
    padding: 12px 30px;
    font-size: 1.2rem;
    font-weight: 600;

    border: none;
    border-radius: 8px;
    cursor: pointer;

    background-color: #00b894;
    color: #fff;
    transition: 0.3s;
}

#new-btn:hover {
    background-color: #019874;
}
